src/main/resources/wsdl/AccessControlService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions name="AccessControlService"
    targetNamespace="http://acl.core.services.fs.documentum.emc.com/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://acl.core.services.fs.documentum.emc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rt.fs.documentum.emc.com/" schemaLocation="AccessControlService_schema1.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://core.datamodel.fs.documentum.emc.com/" schemaLocation="AccessControlService_schema2.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://acl.core.services.fs.documentum.emc.com/" schemaLocation="AccessControlService_schema3.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import
                namespace="http://acl.core.datamodel.fs.documentum.emc.com/" schemaLocation="AccessControlService_schema4.xsd"/>
        </xsd:schema>
    </types>
    <message name="get">
        <part element="tns:get" name="parameters"/>
    </message>
    <message name="getResponse">
        <part element="tns:getResponse" name="parameters"/>
    </message>
    <message name="CoreServiceException">
        <part element="tns:CoreServiceException" name="fault"/>
    </message>
    <message name="ServiceException">
        <part element="ns1:ServiceException" name="fault" xmlns:ns1="http://rt.fs.documentum.emc.com/"/>
    </message>
    <message name="delete">
        <part element="tns:delete" name="parameters"/>
    </message>
    <message name="deleteResponse">
        <part element="tns:deleteResponse" name="parameters"/>
    </message>
    <message name="create">
        <part element="tns:create" name="parameters"/>
    </message>
    <message name="createResponse">
        <part element="tns:createResponse" name="parameters"/>
    </message>
    <message name="update">
        <part element="tns:update" name="parameters"/>
    </message>
    <message name="updateResponse">
        <part element="tns:updateResponse" name="parameters"/>
    </message>
    <portType name="AccessControlServicePort">
        <operation name="get">
            <documentation><![CDATA[ Gets an AclPackage containing ACL objects based on the Acl identities passed to the operation.<p>

 @param aclIdentities List containing the identities of the ACLs to get
 @return AclPackage containing a List of ACL objects
 @throws com.emc.documentum.fs.services.core.CoreServiceException
]]></documentation>
            <input message="tns:get"/>
            <output message="tns:getResponse"/>
            <fault message="tns:CoreServiceException" name="CoreServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="delete">
            <documentation><![CDATA[ Deletes ACL objects based on a list of Acl identities passed to the operation.<p>

 @param aclIdentities the identities of the ACLs to delete
 @throws com.emc.documentum.fs.services.core.CoreServiceException
]]></documentation>
            <input message="tns:delete"/>
            <output message="tns:deleteResponse"/>
            <fault message="tns:CoreServiceException" name="CoreServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="create">
            <documentation><![CDATA[ Creates new ACL objects based on the Acl instances contained in an AclPackage passed to
 the operation.<p>

 @param aclPackage AclPackage containing a list of ACLs to be created
 @return  AclPackage containing a list of created ACLs
 @throws com.emc.documentum.fs.services.core.CoreServiceException
]]></documentation>
            <input message="tns:create"/>
            <output message="tns:createResponse"/>
            <fault message="tns:CoreServiceException" name="CoreServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="update">
            <documentation><![CDATA[ Updates a List of ACL objects based on the Acl instances contained in an AclPackage passed to
 the operation.<p>
 The update operation does not merge the data in an Acl instance into an existing ACL repository object.
  It instead replaces all of the attribute values in an ACL object based on the data in the Acl instance passed to the operation.
       
 @param aclPackage AclPackage containing a List of ACLs to be created
 @return AclPackage containing a List of updated ACLs
 @throws com.emc.documentum.fs.services.core.CoreServiceException
]]></documentation>
            <input message="tns:update"/>
            <output message="tns:updateResponse"/>
            <fault message="tns:CoreServiceException" name="CoreServiceException"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
    </portType>
    <binding name="AccessControlServicePortBinding" type="tns:AccessControlServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="get">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CoreServiceException">
                <soap:fault name="CoreServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="delete">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CoreServiceException">
                <soap:fault name="CoreServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="create">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CoreServiceException">
                <soap:fault name="CoreServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="update">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="CoreServiceException">
                <soap:fault name="CoreServiceException" use="literal"/>
            </fault>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AccessControlService">
        <documentation><![CDATA[The AccessControlService provides operations for creating, getting, updating, and deleting ACL (Access Control List) objects.
 ACLs are used by Content Server to implement object-level permissions and folder security.<p>

 @since 6.5]]></documentation>
        <port binding="tns:AccessControlServicePortBinding" name="AccessControlServicePort">
            <soap:address location="http://localhost:9080/services/core/AccessControlService"/>
        </port>
    </service>
</definitions>
