src/main/resources/wsdl/AgentService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://services.rt.fs.documentum.emc.com/" name="AgentService" xmlns:tns="http://services.rt.fs.documentum.emc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.rt.fs.documentum.emc.com/" schemaLocation="AgentService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="AgentService_schema2.xsd"/>
    </xsd:schema>
  </types>
  <message name="getStatus">
    <part name="parameters" element="tns:getStatus"/>
  </message>
  <message name="getStatusResponse">
    <part name="parameters" element="tns:getStatusResponse"/>
  </message>
  <message name="getDeploymentId">
    <part name="parameters" element="tns:getDeploymentId"/>
  </message>
  <message name="getDeploymentIdResponse">
    <part name="parameters" element="tns:getDeploymentIdResponse"/>
  </message>
  <message name="getHttpSessionId">
    <part name="parameters" element="tns:getHttpSessionId"/>
  </message>
  <message name="getHttpSessionIdResponse">
    <part name="parameters" element="tns:getHttpSessionIdResponse"/>
  </message>
  <portType name="AgentServicePort">
    <operation name="getStatus">
      <input message="tns:getStatus"/>
      <output message="tns:getStatusResponse"/>
    </operation>
    <operation name="getDeploymentId">
      <input message="tns:getDeploymentId"/>
      <output message="tns:getDeploymentIdResponse"/>
    </operation>
    <operation name="getHttpSessionId">
      <input message="tns:getHttpSessionId"/>
      <output message="tns:getHttpSessionIdResponse"/>
    </operation>
  </portType>
  <binding name="AgentServicePortBinding" type="tns:AgentServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getDeploymentId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getHttpSessionId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AgentService">
    <port name="AgentServicePort" binding="tns:AgentServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

