src/main/resources/wsdl/ContextRegistryService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="http://services.rt.fs.documentum.emc.com/" name="ContextRegistryService" xmlns:tns="http://services.rt.fs.documentum.emc.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://services.rt.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://query.core.datamodel.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://properties.core.datamodel.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema3.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://profiles.core.datamodel.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema4.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://core.datamodel.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema5.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://context.core.datamodel.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema6.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://content.core.datamodel.fs.documentum.emc.com/" schemaLocation="ContextRegistryService_schema7.xsd"/>
    </xsd:schema>
  </types>
  <message name="register">
    <part name="parameters" element="tns:register"/>
  </message>
  <message name="registerResponse">
    <part name="parameters" element="tns:registerResponse"/>
  </message>
  <message name="lookup">
    <part name="parameters" element="tns:lookup"/>
  </message>
  <message name="lookupResponse">
    <part name="parameters" element="tns:lookupResponse"/>
  </message>
  <message name="unregister">
    <part name="parameters" element="tns:unregister"/>
  </message>
  <message name="unregisterResponse">
    <part name="parameters" element="tns:unregisterResponse"/>
  </message>
  <portType name="ContextRegistryServicePort">
    <operation name="register">
      <input message="tns:register"/>
      <output message="tns:registerResponse"/>
    </operation>
    <operation name="lookup">
      <input message="tns:lookup"/>
      <output message="tns:lookupResponse"/>
    </operation>
    <operation name="unregister">
      <input message="tns:unregister"/>
      <output message="tns:unregisterResponse"/>
    </operation>
  </portType>
  <binding name="ContextRegistryServicePortBinding" type="tns:ContextRegistryServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="register">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lookup">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="unregister">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ContextRegistryService">
    <port name="ContextRegistryServicePort" binding="tns:ContextRegistryServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

